body {
  color:white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:url("https://www.walldevil.com/wallpapers/a60/minimalistic-wallpapers-clouds-wallpaper-minimalist-desktop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  font-family: Cabin;
}

nav {
  padding-bottom:50px;
}

.well-black {
  background:rgba(255,255,255,0.6);
  /*box-shadow: 5px 5px 2px white;*/
  /*border: 3px solid #333;
  border-right: 10px solid #333;*/
  /*border-bottom: 6px solid #333;*/
  color: #333;
  padding:20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.well-black.meal:hover {
  /*background:gray;*/
  border-right: 10px solid gold;
}

.well-form {
  padding: 30px 10%;
  /*background:rgba(255,255,255,0.6);*/
  width: 60%;
  max-width:1000px;
  min-width:330px;
  margin: 8% auto;
  vertical-align: middle;
}

.btn-secondary {
  background: white;
  color: #333;
  font-weight:bold;
  margin:5px;
  border: 1px solid gray;
  /*border-right: 10px solid #333;*/
}

.btn-secondary:hover {
  animation-name: buttons;
  animation-duration: 600ms;
  background-color: rgb(56,91,159);
  color:white;
}

.navbar {
  background: #333;
  border: none;
}

a, a:visited {
  border: none;
  padding-right:5px;
  padding-left: 5px;
  color: white;
  text-decoration:none;
  font-size:18px;
}

a:active, a.active {
  color:orange;
}

a:hover {
  text-decoration: none;

}

.macros-input {
  width: 50px;
  text-align:center;
  margin-right:7px;
  margin-left:3px;
}

.input-home {
  margin: 10px auto;
  margin-bottom: 20px;
  height:50px;
  width: 150px;
  font-size:25px;
  color:black;
  text-align:center
}

.input-home-row {
  margin-top: 20px;
  margin-botton: 10px;
}

.input-row-label {
    font-size:25px;
    line-height:65px;
    font-weight: bold;
}

.home-button {
  margin: 20px 0px;
  height: 50px;
  line-height: 34px;
  width: 120px;
  background:rgba(56,91,159, 0.6);
  border: 1px solid white;
  border-right:5px solid white;
  border-bottom: 4px solid white;
  font-size: 20px;
}

.home-button:hover {
  color:white;
}

.home-title {
  margin-bottom:60px;
}

.home-title h1 {
  font-size: 3em;
  font-family: "Cabin";
  font-weight: bold;
}

.tools-box {
  height: 200px;
  width: 100%;
  background: rgba(0,0,230,0.5);
  background:url("http://i.imgur.com/PHSKRtI.png");
  background-size:100% 115%;
  margin-bottom: 10px;
  border: 3px solid white;
}

.tools-container {
  width:80%;
  max-width: 900px;
  min-width: 330px;
  margin: 20px auto;
}

.tools-title {
  text-align: center;
  margin-bottom: 50px;
}

.padded {
  margin-top:10px;
  margin-bottom:10px;
}

/*the pie chart*/
svg {
  width:50%;
  margin: 0 auto;
}

@keyframes buttons {
    from {background-color: white; }
    to { background-color: rgb(56,91,159); color:white;}
}
