body {
  color:#333;
  margin: 0;
  padding: 0;
  font-family: Cabin;
  /*background:rgb(0, 188, 212);*/
  /*background:url("http://media02.hongkiat.com/minimalist-wallpapers/Wooden_Noir_Wallpaper_Pack_by_Shod4n.jpg");*/
  /*background:url("http://i.imgur.com/SvnuN4M.png");*/
  /*background:url("https://www.walldevil.com/wallpapers/a60/minimalistic-wallpapers-clouds-wallpaper-minimalist-desktop.jpg");*/
  /*background:lightblue;*/
  /*background: rgb(19,117,160);*/
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  font-family: Cabin;
}

nav {
  padding-bottom:50px;
}

.container {
  padding: 4% 15%;
}

.meal-color-label {
  color:#333;
  font-size:20px;
  font-weight:bold;
  /*text-shadow: 2px 2px #333;*/
  background:rgba(152,198,240,0.5);
  width: 60px;
  height: 46px;
  padding-top:12px;
  text-align: center;
  border:2px solid lightgray;
  border-left:2px solid gray;
  border-top: 2px solid gray;
  box-shadow: 3px 3px 3px #333;
}

.macros-input {
  width: 100%;
  text-align:center;
  margin-right:7px;
  margin-left:3px;
  margin-top:3px;
  border:none;
  background:transparent;
  color:#333;
  font-size:18px;
  font-weight:bold;
}

.macros-label {
  width: 100%;
  height: 50px;
  text-align:center;
  margin-right:7px;
  margin-left:3px;
  margin-top:3px;
  border:2px solid lightgray;
  border-left:2px solid gray;
  border-top: 2px solid gray;
  box-shadow: 3px 3px 3px #333;
  background:transparent;
  color:#333;
  font-size:17px;
  line-height: 50px;
}

.well-black {
  background:rgba(255,255,255,0.6);
  box-shadow: 5px 5px 2px white;
  color: #333;
  padding:5px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  max-width:500px;;
}

.well-clear {
  color: #333;
  padding:5px 20px;
}

.well-form {
  padding: 30px 10%;
  max-width:1000px;
  min-width:330px;
  margin: 0px auto;
  vertical-align: middle;
}

.well-form-auto {
  padding-bottom: 20px;
  max-width:1000px;
  margin: 0 auto;
  vertical-align: middle;
}

.btn-secondary {
  background: white;
  color: #333;
  font-weight:bold;
  margin:5px;
  border: 1px solid gray;
  /*border-right: 10px solid #333;*/
}

.btn-secondary:hover {
  animation-name: buttons;
  animation-duration: 600ms;
  background-color: rgb(56,91,159);
  color:#333;
}

.navbar {
  background: #333;
  border: none;
}

/*a, a:visited {
  border: none;
  padding-right:5px;
  padding-left: 5px;
  color: #333;
  text-decoration:none;
  font-size:15px;
}*/

a:active, a.active {
  color:orange;
}

a:hover {
  text-decoration: none;
}

.input-select {

  padding-left:10px;
  margin: 3% 0px;
  height:50px;
  width: 150px;
  font-size:20px;
  background:white;
  color:#333;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border:1px solid gray;
}

.input-home {
  margin: 3px auto;
  margin-right:5px;
  height:50px;
  width: 110px;
  font-size:20px;
  color:#333;
  font-weight:bold;
  text-align:center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border:1px solid gray;
  /*background:transparent;*/
  /*border:none;*/
  /*border-bottom:1px solid #333;*/
}

.home-label {
  font-size:2em;
  font-weight: bold;
  line-height: 12px;
  /*color:rgb(0, 188, 212);*/
  /*text-shadow:2px 2px #333;*/
  color:#333;
  /*font-family: "Bungee Inline";*/
  font-weight: bold;
}

.home-banner {
  width:100%;
  height:40%;
  background:#333;
  text-align:center;
  padding:40px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  /*padding-top:20px;*/
}

.input-success {
  border: 2px solid rgb(63,135,27);
  border-right: 2px solid rgb(114,189,43);
  border-bottom: 2px solid rgb(114,189,43);
}

.input-row-label {
    font-size:20px;
    line-height:60px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*text-shadow: 2px 3px black;*/
    color:#333;
}

.home-button {
  margin: 20px 0px;
  height: 50px;
  line-height: 34px;
  width: 120px;
  background:rgba(56,91,159, 0.6);
  border: 1px solid white;
  border-right:5px solid white;
  border-bottom: 4px solid white;
  font-size: 20px;
}

.custom-button {
  margin: 20px 5px;
  height: 50px;
  line-height: 34px;
  color:white;
  border: 2px solid #333;
  background:rgb(0, 188, 212);
  text-shadow:2px 2px #333;
  box-shadow: 3px 3px 3px #333;
  font-size: 20px;
  font-weight:bold;
}

.button-outline {
  background:transparent;
  color:white;
  margin-top:20px;
  height: 50px;
  line-height: 34px;
  color:white;
  border: 2px solid white;
  box-shadow: 3px 3px 3px #333;
  font-size: 20px;
  font-weight:bold;
}

.button-outline:hover {
  color:white;
}

.custom-button:hover {
  color:white;
}

.home-title {
  margin-bottom:30px;
  padding:30px;
}

.home-title h1 {
  font-size: 5em;
  font-family: "Bungee Inline";
  font-weight: bold;
  text-shadow: 4px 5px black;
  color:rgb(0, 188, 212);
}

.section {
  padding: 10% 15%;
  background:#333;
  height:100%;
  width:100;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  background:url("https://www.planwallpaper.com/static/images/6968796-desktop-wallpaper-backgrounds-1080p.jpg");
  background-size:cover;
  background-attachment: fixed;
}

h3 {
  color:#333;
  font-size:18px;
}

.input-row-label.type-red {
  text-transform: uppercase;
  /*font-size:30px;*/
}

.tools {
  max-width:290px;
  margin:0 auto;
}

.tools-card {
  max-width:500;
  margin: 0 auto;
}

.tools-icon {
  width: 50px;
  height: 50px;
  margin:5px;
}

.padded {
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
}

.weather-box {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.weather-text {
  font-size:4em;
  font-weight:bold;
  padding:10px;
}
/*the pie chart*/
svg {
  width:100%;
  margin: 0 auto;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.fa {
  font-size:1.3em;
  margin-left:9px;
  color:#333;
}

.fa-plus, .fa-child, .fa-user-md, .fa-graduation-cap {
  color:#333;
  font-size:24px;
  margin-right:15px;
  font-weight:bold;
  /*text-shadow:2px 2px 1px black;*/
}

.fa-times {
  color:red;
    /*text-shadow:2px 6px #333;*/
    /*text-shadow:1px 5px 1px #333;*/
}

.fa-check {
  color:green;
  /*text-shadow:1px 5px 1px #333;*/
}

.fa-hand-o-right {
  color:#333;
  font-size:20px;
  font-weight: bold;
}

.shadow-hover:hover {
  box-shadow: 2px 2px 2px black;
}

.type-red {
  color:red;
  /*text-shadow:2px 2px 1px black;*/
}

.type-green {
  color:green;
  /*text-shadow:4px 5px black;*/
}

.type-white {
  color:white;
  text-transform: uppercase;
  font-size:24px;
}

.sub-heading {
  padding:30px;
  color:white;
  background:rgb(0, 188, 212);
  text-align:center;
  /*max-width:96%;*/
  margin:0px auto;

  font-weight:bold;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.blue-1 {
  background:rgb(85, 118, 234);
  padding:10px;
}

.blue-2 {
  background:rgb(37,142,206);
  padding:10px;
}

.primary-color {
  background: rgb(0, 188, 212)
}

.black {
  background:#333;
}

.gray {
  background:gray;
  padding:10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.no-background {
  background:transparent;
  padding:10px;
  color:black
}

.no-shadow {
  box-shadow:none;
  text-align:left
}

.no-padding {
  padding: 0px;
}

.col-xs-3, .col-xs-1 {
  padding:5px

}

.col-xs-2 {
  width:auto;
}

 .col-xs-2 > h3 {
   padding-top:5px;
   margin-left:60px;
 }

input[type=checkbox] {
  color:orange;
  margin:5px;
  width: 30px;
}

input:focus {
  /*border-bottom: 2px solid rgb(0, 188, 212)*/
}

*:focus {
    outline: none;
}

@keyframes buttons {
    from {background-color: white; }
    to { background-color: rgb(56,91,159); color:#333;}
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
  opacity:1;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {

  .input-select {
    padding-left:10px;
    margin: 3% 0px;
    margin-bottom: 20px;
    height:50px;
    font-size:25px;
    width:105px;
    background:transparent;
    color:#333;
  }

  .section  {
    background:#333;
  }

  .input-home {
    margin: 0px auto;
    margin-left:8px;
    height:40px;
    /*font-size:20px;*/
    width:80px;
    color:#333;
    text-align:center
  }

  .input-row-label {
      font-size:16px;
      line-height:75px;
      font-weight: bold;
  }

  .meal-color-label {
    width: 25px;
    border:none;
    /*color:#333;*/
    background:white;
    color:black;
    text-shadow: 1px 1px #333;
    box-shadow: none;

  }

  .container {
    padding:0px;
  }

  .row {
    margin: 0;
  }

  .col-sm-6 {
    margin:0;
    padding:0;
  }

  .home-title h1 {
    font-size: 4em;
  }
  .clear {
    background:transparent;
  }

  .col-xs-2 {
    width:40px;
    margin-left:15px;
  }
 .col-xs-2 > h3 {
   padding-top:5px;
   margin-left:6px;
 }
}
